
body{
	font-family:Helvetica;
		overflow: hidden;
		cursor:pointer;
}

#wrapper {
}

h3 {
	width:100%;
	text-align:center;
}

button {
	display: block;
	background-color: rgba(255, 0, 0, 1.0);
	margin:auto;
	border-radius: 5px;		
	font-weight:bold;
	color:white;
	border:none;
}

.screen {
	display:none;
	width: 100%;
	height: 100%;
	position:absolute;
	top:0;
	left:0;
}

#home {
	position:absolute;
	top:0;
	right:0;
	background-color:rgba(208, 208, 208, 0.88);
	z-index:1000;
	overflow:scroll;
}

#homeContainer {
	width:50%;
	margin:60px auto 0 auto;	
}

.homeText {
	font-size:20px;
}

.homeSec {
	margin:30px auto;
}

#homeTitle {
	position: relative;
	width:100%;
	height:auto;
	margin:30px auto;
	text-align:center;
	font-size:80px;
}

#homeSubtitle {
	position: relative;
	width:100%;
	height:auto;
	text-align:center;
	font-size:24px;
}

.homeLabel {
	text-align:center;
	font-size:24px;
	padding:0;
	border:none;
	font-weight: bold;
}

.homeHalfPara {
	text-align: center;
	display:inline-block;
	width:49%;
	border:none;
	padding:0;
}

.homeFullPara {
	text-align:center;
	display:inline-block;
	width:100%;
	border:none;
	padding:0;
}

#homeHistView, #histMapToggle {
	text-decoration: underline;
}
.homeArrow {
	display:inline-block;
	width:20%;
	padding:0;
	margin:10px 0;
	border:none;
}

.homeLeftArrow {
	text-align:right;
}

.homeRightArrow {
	text-align:left;
}

.homeField {
	display:inline-block;
	width:58%;
	padding:0;
	margin:0;
	border:none;
	background: none;
	text-align:center;
	font-size:22px;
}

#homeLoadingText {
	display:none;
	width:100%;
	margin:0;
	text-align: center;
	color:red;
	font-weight: bold;
}

#visButton {
	width:80%;
	height:40px;
	font-size: 18px;
}

.filterButton {
	width:80%;
	height:28px;
	margin:10px auto;
	font-size: 14px;
}


#ctrl {
	position:absolute;
	top: 20px;
	right:20px;
	height:80px;
	max-width:309px;
	z-index:10;
	display:none;
	opacity:0.0;
	border:2px solid gray;
	background-color:rgba(208, 208, 208, 0.88);
	overflow:hidden;
}

.ctrlLine {
	display:block;
	opacity:0;
	width:80%;
	margin:auto;
	border-color: black;
}
	
.ctrlIcon {
	display:inline-block;
	height:40px;
	width:40px;
	margin:20px 30px;
	padding:0;
	border-radius: 20px;
}

#ctrlHome {
	background:url("../img/home_off.png") no-repeat center;
	background-size: 32px 32px;
}

#ctrlInfo {
	background:url("../img/info_off.png") no-repeat center;
	background-size: 32px 32px;
}

#ctrlSett {
	background:url("../img/sett_off.png") no-repeat center;
	background-size: 32px 32px;
}

#ctrlBody {
	display:block;
	width:92%;
	margin:0;
	border:0;
	padding:0 4%;
	font-size: 12px;
}

.ctrlBodyTitle {
	text-align: center;
}

#ctrlMapLegend {
	height:auto;
	width:100%;
	margin:10px auto 20px auto;
}

.ctrlMapLegendEntry {
	display:inline-block;
	height:80px;
	width: 19%;
	border:none;
}


.ctrlMapCircle {
	height:50px;
	width:100%;
	padding:0;
	margin:0;
	border:none;
}

.ctrlMapCircleLabel {
	text-align:center;
	height:30px;
	width:100%;
	padding:0;
	margin:0;
	border:none;		
}

#ctrlMapCircleRed {
	background:url("../img/red.png") no-repeat center;
	background-size: 28px 28px;
}

#ctrlMapCircleOrange {
	background:url("../img/orange.png") no-repeat center;
	background-size: 24px 24px;
}

#ctrlMapCircleMustard {
	background:url("../img/mustard.png") no-repeat center;
	background-size: 20px 20px;
}

#ctrlMapCircleYellow {
	background:url("../img/yellow.png") no-repeat center;
	background-size: 16px 16px;
}

#ctrlMapCircleWhite {
	background:url("../img/white.png") no-repeat center;
	background-size: 12px 12px;
}


.ctrlSettingSection {
	margin:20px auto;
	padding;0;
	border:none;
}

.ctrlMapSeveritySetting {
	margin:10px auto;
}

.ctrlSettingLabel {
	width:100%;
	height:30px;
	line-height: 30px;
	display:block;
	text-align:center;
	font-weight: bold;
	font-size:14px;
}

.ctrlSelectBox {
	width:75%;
	height:30px;
	display:block;
	margin:auto;
}

.ctrlSelect {
	width:100%;
	height:auto;
}

.ctrlSelectHalf {
	width:50%;
	display:block;
	height:auto;
	margin:auto;
}

.ctrlMapYearArrow {
	width:30%;
	height:30px;
	line-height: 30px;
	display:inline-block;
	font-weight:bold;
	margin: 0;
	padding:0;
	border:none;
}

#ctrlMapLastYear {
	opacity: 0.2; /* Site loads at min year */
	text-align:right;
}

#ctrlMapNextYear {
	text-align:left;
}

.ctrlMapYear {
	font-size: 22px;
	font-weight: bold;
}

#ctrlMapYear {
	display:inline-block;
	width: 37%;
	line-height: 30px;
	height:30px;
	font-weight:bold;
	text-align:center;
	margin: 0;
	padding:0;
	border:none;
}



#ctrlHeatmapGradient {
	width:80%;
	height:30px;
	margin:auto;
	display:block;
	background:url("../img/heatmap_gradient.png") no-repeat center;
	background-size: 100% 100%;
}

.ctrlHeatmapGradientMarker {
	margin:10px auto 20px auto;
	display:inline-block;
	width:49%;
}

#ctrlHeatmapGradientMarkerLeft {
	text-align:left;
}

#ctrlHeatmapGradientMarkerRight{
	text-align:right;
}

#ctrlFutureMapGradient {
	width:80%;
	height:30px;
	margin:auto;
	display:block;
	background:url("../img/futureMapRect.png") no-repeat center;
	background-size: 100% 100%;
}

#ctrlFutureAbsGradient {
	width:80%;
	height:30px;
	margin:auto;
	display:block;
	background:url("../img/acc_prob_inter.png") no-repeat center;
	background-size: 100% 100%;
}

.ctrlSelectHalfBox {
	display:inline-block;
	width:49%;
	margin:0;
	padding:0;
}

/*
 * HEATMAP
 */


 #heatmap {
 	background-color:black;
 	color:white;
 }


#heatmapTitle {
	margin: 40px 0 0 40px;
	position:absolute;
	top:0;
	color:white;
	font-family:Helvetica, Arial, sans-serif;
}

rect.bordered {
	stroke:#fff;
	stroke-width:2px;
}

.heatmapDayLabel, .heatmapTimeLabel, .lineAxis--x text {
	font-family:Helvetica;
	font-size: 13px;
	font-weight:bold;
	fill:white;
}

.lineAxis--y text {
	font-family:Helvetica;
	font-size: 12px;
	font-weight:bold;
	fill:white;
}

