
body{
	font-family:Helvetica;
		overflow: hidden;
}

#wrapper {
}

.screen {
	display:none;
	width: 100%;
	height: 100%;
	position:absolute;
	top:0;
	left:0;
}

#home {
	position:absolute;
	top:0;
	right:0;
	background-color:rgba(208, 208, 208, 0.88);
	z-index:1000;
	overflow:scroll;
}

#homeContainer {
	width:50%;
	margin:60px auto 0 auto;	
}

.homeText {
	font-size:20px;
}

.homeSec {
	margin:30px auto;
}

#homeTitle {
	position: relative;
	width:100%;
	height:auto;
	margin:30px auto;
	text-align:center;
	font-size:80px;
}

#homeSubtitle {
	position: relative;
	width:100%;
	height:auto;
	text-align:center;
	font-size:24px;
}

.homeLabel {
	text-align:center;
	font-size:24px;
	padding:0;
	border:none;
	font-weight: bold;
}

.homeHalfPara {
	text-align: center;
	display:inline-block;
	width:49%;
	border:none;
	padding:0;
}

.homeFullPara {
	text-align:center;
	display:inline-block;
	width:100%;
	border:none;
	padding:0;
}

#homeHistView, #histMapToggle {
	text-decoration: underline;
}
.homeArrow {
	display:inline-block;
	width:20%;
	padding:0;
	margin:10px 0;
	border:none;
}

.homeLeftArrow {
	text-align:right;
}

.homeRightArrow {
	text-align:left;
}

.homeField {
	display:inline-block;
	width:58%;
	padding:0;
	margin:0;
	border:none;
	background: none;
	text-align:center;
	font-size:22px;
}

#homeLoadingText {
	display:none;
	width:100%;
	margin:0;
	text-align: center;
	color:red;
	font-weight: bold;
}

#visButton {
	display: block;
	width:80%;
	height:40px;
	margin:auto;
	background-color: rgba(255, 0, 0, 1.0);
	border:none;
	border-radius: 5px;
	font-size: 18px;
	font-weight:bold;
	color:white;
}

#ctrl {
	position:absolute;
	top: 20px;
	right:20px;
	max-width:309px;
	z-index:10;
	display:none;
	opacity:0.0;
	border:2px solid gray;
	background-color:rgba(208, 208, 208, 0.88);
}

#ctrlLine {
	display:none;
	width:80%;
	margin:auto;
	border-color: black;
}
	
.ctrlIcon {
	display:inline-block;
	height:40px;
	width:40px;
	margin:20px 30px;
	padding:0;
	border-radius: 20px;
}

#ctrlHome {
	background:url("img/home_off.png") no-repeat center;
	background-size: 32px 32px;
}

#ctrlInfo {
	background:url("img/info_off.png") no-repeat center;
	background-size: 32px 32px;
}

#ctrlSett {
	background:url("img/sett_off.png") no-repeat center;
	background-size: 32px 32px;
}

/*
 * HEATMAP
 */


 #heatmap {
 	background-color:black;
 	color:white;
 }


#heatmapTitle {
	margin: 40px 0 0 40px;
	position:absolute;
	top:0;
	color:white;
	font-family:Helvetica, Arial, sans-serif;
}

rect.bordered {
	stroke:#fff;
	stroke-width:2px;
}

text.mono {
	font-size:9pt;
	font-family:Consolas, courier;
	fill: #fff;
}
