
body{
	font-family:Helvetica;
}

#map {
	width: 100%;
	height: 100%;
	position:absolute;
	top:0;
	left:0;
}

#ctrl {
	position:absolute;
	top: 20px;
	right:40px;
	z-index:10;
	width:250px;
	height:300px;
	opacity:0.8;
	display:block;
	border:2px solid gray;
   background-color:black;
	color:white;
	transition:opacity 500ms linear;
}

.year {
display:inline-block;
margin:0;
padding:0;
border:none;
height:75px;
line-height:75px;
font-family: 'Droid Sans Mono', monospace;
/* font-family:  'Helvetica Neue', sans-serif; */
font-weight:bolder;
text-align:center; 
color:white;
}


#year {
width:46%;
letter-spacing:4px;
font-size:32px;
}

#lastYear, #nextYear {
	width:25%;
	font-size:25px;
}

.filterTxt {
	font-size:20px;
	text-align:center;
}